.event-history-container {
    height: 360px;

    margin-top: 25px;
    padding-top: 11px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;

    background: #FFFFFF;
    border: 0.5px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;

    header {
        align-items: center;
        
        select {
            width: 90%;
        }

        div {
            width: 270px;
            justify-content: space-between;
            display: flex;
            align-items: center;
        }
    }

    .chart {
        padding-top: 10px;
        height: 250px;
    }

    .info {
        margin-left: 30px;
        .inspections  {
            display: flex;
            align-items: center;
            
            i {
                color: #7FC008;
            }
        }

        .action-plans {
            display: flex;
            align-items: center;
            i {
                color: #DB8C28;
            }
        }
    }


    @media(max-width: 850px) {
        height: 400px;

        .chart {
            height: 280px;
        }
    }

    @media(max-width: 670px) {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        
        .chart {
            min-width: 500px;
        }
    }

    @media(max-width: 480px) {
        header {
            flex-direction: column;
            
            select {
                margin-top: 10px;
            }
        }

        .chart {
            height: 265px;
        }
    }

}