.schedule-container {
  height: 328px;

  margin-top: 14px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 23px;
  padding-right: 10px;

  border: 0.5px solid #e4e4e4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  header {
    align-items: center;

    padding-left: 9px;
    padding-right: 9px;

    .select {
      width: 244px;
    }
  }

  .table {
    width: 100%;
    text-align: left;

    th {
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 8px;
      padding: 4px 16px;
    }

    td {
      font-size: 10px;
      font-family: "Poppins", sans-serif;
      padding: 8px 16px;
      border-bottom: 0.5px solid #ebebeb;
      color: #333333;
    }

    .name {
      font-size: 12px;
    }

    .data {
      width: 120px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 8px;
    }

    td.data {
      font-size: 10px;
    }
  }

  @media (max-width: 480px) {
    header {
      flex-direction: column;

      select {
        margin-top: 10px;
      }
    }
  }

  @media (max-width: 690px) {
    .table-wrapper {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }
}
