.aside-action-plans-chart {
  height: 360px;

  padding-top: 13px;
  padding-bottom: 30px;
  padding-left: 14px;
  padding-right: 19px;

  background: #ffffff;
  border: 0.5px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  header {
    display: flex;
    justify-content: space-between;
  }

  .chart {
    width: 100%;
    height: 250px;
    overflow-x: auto;
    overflow-y: hidden;

    .apexcharts-legend.apx-legend-position-right {
      display: none;
    }
  }

  @media (max-width: 1180px) {
    width: 100%;
    margin-top: 15px;
  }
}
